﻿@using SunshareCommon
@model  SunshareHubOne.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";

}
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.SalesRepId)
<div class="hpanel">
    <div class="icon_div panel-body text-center">
        <a class="btn btn-danger pull-right" id="Alllead" title=@Model.all data-toggle="tooltip">All Leads </a>

        <div class="col-lg-12">
            <div class="row">
                <div class="icon-box1 text-center animated-panel zoomIn">
                    <a class="filtermenu" id="assigned" href="#"> <img src="~/Content/custom/images/icon-1.png" alt="Icon-1"> </a>
                    <h5><span>Actionable Leads</span></h5>
                    <h3 class="count">@Model.AssignedLead</h3>
                </div>
                <div class="icon-box2 text-center animated-panel zoomIn">
                    <a class="filtermenu" id="saved" href="#"> <img src="~/Content/custom/images/icon-2.png" alt="Icon-2"> </a>
                    <h5><span>Leads Saved</span></h5>
                    <h3 class="count">@Model.SavedLead</h3>
                </div>
                <div class="icon-box3 text-center animated-panel zoomIn">
                    <a class="filtermenu" id="info" href="#"><img src="~/Content/custom/images/icon-3.png" alt="Icon-3"></a>
                    <h5><span>Information Sent</span></h5>
                    <h3 class="count">@Model.InformationSent</h3>
                </div>
                <div class="icon-box4 text-center animated-panel zoomIn">
                    <a class="filtermenu" id="sent" href="#"><img src="~/Content/custom/images/icon-4.png" alt="Icon-4"></a>
                    <h5><span>Awaiting Contracts</span></h5>
                    <h3 class="count">@Model.ContractSent</h3>
                </div>
                <div class="icon-box5 text-center animated-panel zoomIn">
                    <a class="filtermenu" id="signed" href="#"><img src="~/Content/custom/images/icon-5.png" alt="Icon-5"></a>
                    <h5><span>Contracts Signed</span></h5>
                    <h3 class="count">@Model.ContractSigned</h3>
                </div>
                <div class="icon-box6 text-center animated-panel zoomIn">
                    <a class="filtermenu" id="declined" href="#"><img src="~/Content/custom/images/icon-6.png" alt="Icon-6"></a>
                    <h5><span>Contracts Declined</span></h5>
                    <h3 class="count">@Model.ContractDeclined</h3>
                </div>
                <div class="icon-box1 text-center animated-panel zoomIn">
                    <a class="filtermenu" id="Refused" href="#"> <img src="~/Content/custom/images/icon-18.png" alt="Icon-18"> </a>
                    <h5><span>Contracts Refused</span></h5>
                    <h3 class="count">@Model.RefusedLead</h3>
                </div>
                <div class="icon-box7 text-center animated-panel zoomIn">
                    <a class="filtermenu" href="#" id="appointment"><img alt="Icon-7" src="~/Content/custom/images/icon-7.png"></a>
                    <h5><span>Call Back</span></h5>
                    <h3 class="count">@Model.CallBack</h3>
                </div>
                <div class="icon-box8 text-center animated-panel zoomIn">
                    <a class="filtermenu" href="#" id="onceCalled"><img alt="Icon-8" src="~/Content/custom/images/icon-8.png"></a>
                    <h5><span>Called Once</span></h5>
                    <h3 class="count">@Model.OnceCalled</h3>
                </div>
                <div class="icon-box9 text-center animated-panel zoomIn">
                    <a class="filtermenu" href="#" id="twiceCalled"> <img alt="Icon-9" src="~/Content/custom/images/icon-9.png"> </a>
                    <h5><span>Called Twice</span></h5>
                    <h3 class="count">@Model.TwiceCalled</h3>
                </div>
                <div class="icon-box10 text-center animated-panel zoomIn">
                    <a class="filtermenu" href="#" id="morethriceCalled"> <img alt="Icon-10" src="~/Content/custom/images/icon-16.png"> </a>
                    <h5><span>Multiple Calls</span></h5>
                    <h3 class="count">@Model.MoreThriceCalled</h3>
                </div>
                @*<div class="icon-box21 text-center animated-panel zoomIn">
                        <a id="Loadall" class="filtermenu" href="#"><img src="~/Content/custom/images/icon-17.png" alt="Icon-17"></a>
                        <h5><span>All Leads</span></h5>
                        <h3 class="count">@Model.all</h3>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="hpanel">
    <div class="panel-body">
        @*<div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Report<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a onclick="location.href='@Url.Action("Createdata", "Dashboard", new { @id = Model.SalesRepId })'">Lead created</a></li>
                    <li><a onclick="location.href='@Url.Action("Closeddata", "Dashboard",  new { @id = Model.SalesRepId})'">Lead closed</a></li>
                </ul>
            </div>*@
        <div class="table-responsive">
            <table id="dashboard" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        @*<th>
                                @Html.CheckBox("selectAll", new { @Id = "selectAll" })
                            </th>*@
                        <th>
                            @Html.DisplayName("Last Modified Date & Time")
                        </th>
                        <th>
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("Last Name")
                        </th>
                        <th>
                            @Html.DisplayName("Phone")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                        <th>
                            @Html.DisplayName("Call Count")
                        </th>
                        <th id="AssignedDateColumn">
                            @Html.DisplayName("Assigned Date")
                        </th>
                        <th id="CallDateColumn">
                            @Html.DisplayName("Call Back Date")
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>
                        </th>
                        <th>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Leads)
                    {
                        <tr>
                            @*<td>
                                    @Html.CheckBox("allChecked", new { @Id = item.LeadId })
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="text-center">
                                @switch (item.LeadStausId)
                                {

                                    case LeadContractStatus.LeadCreated:
                                        @Html.Label("Lead Created", new { @class = "label-savelead" })
                                        break;
                                    case LeadContractStatus.ContractSent:
                                        @Html.Label("Awaiting Contract", new { @class = "label-outstanding" })
                                        break;
                                    case LeadContractStatus.ContractDeclined:
                                        @Html.Label("Contract Declined", new { @class = "label-declined" })
                                        break;
                                    case LeadContractStatus.ContractSigned:
                                        @Html.Label("Contract Signed", new { @class = "label-signed" })
                                        break;
                                    case LeadContractStatus.CotractInformationSent:
                                        @Html.Label("Information Sent", new { @class = "label-infosent" })
                                        break;
                                    case LeadContractStatus.RefusedLead:
                                        @Html.Label("Contract Refused", new { @class = "label-refused" })
                                        break;
                                    default:
                                        @Html.Label("New", new { @class = "label-new" })
                                        break;
                                }
                            </td>
                            <td align="center">
                                @if (item.LeadChannelId == LeadChannels.D2D)
                                {
                                    <a href="@Url.Action("Edit", "Lead", new { @salesRepId = Model.SalesRepId, @leadId = item.LeadId, @isAdmin = false })" class="m-l-10"><span class="fa fa-eye"> </span></a>
                                }
                                else
                                {
                                    if (item.LeadStausId == LeadContractStatus.ContractSigned || item.LeadStausId == LeadContractStatus.ContractSent || item.LeadStausId == LeadContractStatus.ContractDeclined || item.LeadStausId == LeadContractStatus.RefusedLead)
                                    {
                                        if (!item.AllowDuplicateContract)
                                        {
                                            <a href="@Url.Action("Edit", "Lead", new { @salesRepId = Model.SalesRepId, @leadId = item.LeadId, @isAdmin = false })" class="m-l-10"><span class="fa fa-eye"> </span></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Edit", "Lead", new { @salesRepId = Model.SalesRepId, @leadId = item.LeadId, @isAdmin = false })" class="m-l-10"><span class="fa fa-edit"> </span></a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Edit", "Lead", new { @salesRepId = Model.SalesRepId, @leadId = item.LeadId, @isAdmin =false})" class="m-l-10"><span class="fa fa-edit"> </span></a>
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CallCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignedDate)
                            </td>
                            <td>
                                @if (Convert.ToDateTime(item.CallDate).ToShortDateString() == DateTime.Today.ToShortDateString())
                                {
                                    <span class="date2">
                                        @Html.DisplayFor(modelItem => item.CallDate)
                                    </span>

                                }
                                else if (Convert.ToDateTime(item.CallDate) > DateTime.Today)
                                {

                                    @Html.DisplayFor(modelItem => item.CallDate)


                                }
                                else
                                {
                                    <span class="date1">
                                        @Html.DisplayFor(modelItem => item.CallDate)
                                    </span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppointmnetCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAssigned)
                            </td>
                            <td>
                                @switch (item.LeadStausId)
                                {

                                    case LeadContractStatus.LeadCreated:
                                        @Html.Label("False", new { @class = "label-savelead" })
                                        break;
                                    case LeadContractStatus.ContractSent:
                                        @Html.Label("False", new { @class = "label-outstanding" })
                                        break;
                                    case LeadContractStatus.ContractDeclined:
                                        @Html.Label("True", new { @class = "label-declined" })
                                        break;
                                    case LeadContractStatus.ContractSigned:
                                        @Html.Label("True", new { @class = "label-signed" })
                                        break;
                                    case LeadContractStatus.CotractInformationSent:
                                        @Html.Label("False", new { @class = "label-infosent" })
                                        break;
                                    case LeadContractStatus.RefusedLead:
                                        @Html.Label("false", new { @class = "label-refused" })
                                        break;
                                    default:
                                        @Html.Label("False", new { @class = "label-new" })
                                        break;
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Signedunlock)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section MyScripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#hideshearch').empty();
            $('#searchText').empty();
            $('td:nth-child(9),th:nth-child(9)').hide();
            $('td:nth-child(10),th:nth-child(10)').hide();
            $('#sidebar').addClass('displayoff').removeClass('displayon');
            $('#statusRefresh').removeClass('displayoff').addClass('displayon');
            $('.datepic-arrow').datetimepicker({
                timepicker: false,
                format: 'm/d/Y',
                timeFormat: 'hh:mm tt',
                minDate: '-1970/01/01',
                onChangeDateTime: function () {
                    $(this).hide();
                }
            });
            var table = $('#dashboard').dataTable(
            {
                "columnDefs": [
            {
                "targets": [10, 11, 12, 13],
                "visible": false,
                "searchable": true
            }]
            });
            var allPages = table.fnGetNodes();
            $('body').on('click', '#selectAll', function () {
                if ($(this).hasClass('allChecked')) {//TODO:Need to create Type Def
                    $('input[type="checkbox"]', allPages).prop('checked', false);
                } else {
                    $('input[type="checkbox"]', allPages).prop('checked', true);
                }
                $(this).toggleClass('allChecked');
            });

            $('#bulkDead').click(function (e) {
                $(document).ready(function () {
                    swal({
                        title: "Mark Dead",
                        text: "Are You Sure to mark as dead?",
                        type: "info",
                        showCancelButton: true,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true,
                    }, function () {
                        setTimeout(function () { swal("Successfully marked as dead"); }, 2000);
                    });
                });
                var repId = $('#SalesRepId').val();
                e.preventDefault();
                var a = [];
                $("input:checked").each(function () {
                    if ($(this).attr("id") !== 'selectAll') {//TODO:Need to create Type Def
                        a.push($(this).attr("id"));
                    }
                });
                var s = a.join(', ');
                $.ajax({
                    url: '@Url.Action("MarkDead", "Dashboard")',
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    data: "{'leadIds':'" + s + "'" + ",'repId':'" + repId + "'}",
                    success: function (data) {
                        $(document)
                            .ready(function () {
                                if (data == "No lead been selected") { //TODO:Need to use Type Def
                                    swal("Failure", "No Lead Been Selected", "error");
                                } else {
                                    location.reload(); //TODO:Need to check this
                                }
                            });
                    }
                });
            });
            $('#searchdashboard').dataTable();
            $.fn.dataTableExt.oApi.fnResetAllFilters = function (oSettings, bDraw) {
                for (iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
                    oSettings.aoPreSearchCols[iCol].sSearch = '';
                }
                $('.filter-term').remove();
                oSettings.oPreviousSearch.sSearch = '';
                if (typeof bDraw === 'undefined')
                    bDraw = true;
                if (bDraw)
                    this.fnDraw();
            }
        });

        function ColumnHide() {
            $('td:nth-child(9),th:nth-child(9)').hide();
            $('td:nth-child(10),th:nth-child(10)').hide();
            $("#AssignedColumn").css("display", "none");
            $("#CallColumn").css("display", "none");
        }
        $('#assigned')
            .click(function () {
                ClearCallFilter();
                ApplyFilter('True', 11);
                //ApplyFilter('False', 13);
                $('td:nth-child(9),th:nth-child(9)').show();
                $('td:nth-child(10),th:nth-child(10)').hide();
                $("#AssignedColumn").css("display", "block");
                $("#AssignedColumn").css("width", "auto");
                $("#CallColumn").css("display", "none");
            });

        $('#saved')
            .click(function () {
                ClearCallFilter();
                ApplyFilter('Lead Created', 5);
                ApplyFilter('False', 11);
                ColumnHide();
            });

        $('#sent').click(function () {
            ClearCallFilter();
            ApplyFilter('Awaiting Contract', 5);
            ApplyFilter('False', 11);
            ColumnHide();
        });

        $('#info').click(function () {
            ClearCallFilter();
            ApplyFilter('Information Sent', 5);
            ApplyFilter('False', 11);
            ColumnHide();
        });

        $('#signed').click(function () {
            ClearCallFilter();
            ApplyFilter('Contract Signed', 5);
            ApplyFilter('False', 11);
            ColumnHide();
        });

        $('#declined').click(function () {
            ClearCallFilter();
            ApplyFilter('Contract Declined', 5);
            ApplyFilter('False', 11);
            ColumnHide();
        });

        $('#appointment').click(function () {
            ClearCallFilter();
            ApplyRegExFilter('^[1-9][0-9]*$', 10);
            ApplyFilter('False', 11);
            $('td:nth-child(9),th:nth-child(9)').hide();
            $('td:nth-child(10),th:nth-child(10)').show();
            $("#CallColumn").css("display", "block");
            $("#CallColumn").css("width", "auto");
            $("#AssignedColumn").css("display", "none");
            //$("#CallColumn").css("display", "block");
            //$("#CallColumn").css("width", "auto");
        });

        $('#onceCalled').click(function () {
            ClearCallFilter();
            //var count = '1';
            //ApplyFilter('Lead Created', 5);
            applyExactFilter('^(1)$', 7);
            ApplyFilter('False', 11);
            ApplyFilter('False', 12);
            ColumnHide();
        });

        $('#twiceCalled').click(function () {
            ClearCallFilter();
            applyExactFilter('^(2)$', 7);
            ApplyFilter('False', 11);
            ApplyFilter('False', 12);
            ColumnHide();
        });

        $('#Alllead').click(function () {
                     ClearCallFilter();
                     ColumnHide();
                 });

        $('#Refused').click(function () {
               ClearCallFilter();
               ApplyFilter('Contract Refused', 5);
               //ApplyFilter('False', 11);
               ColumnHide();
           });


        $('#morethriceCalled').click(function () {
            ClearCallFilter();
            //ApplyRegExFilter('^[3-9][0-9]*$', 7);
            ApplyRegExFilter('[3-9]|1[0-9]|3[0-9]|4[0-9]|5[0-9]', 7);
            ApplyFilter('False', 11);
            ApplyFilter('False', 12);
            ColumnHide();
        });



        $('.sorting_asc')
                    .click(function () {
                        ClearCallFilter();
                        ColumnHide();
                    });

        $('.sorting_desc')
           .click(function () {
               ClearCallFilter();
               ColumnHide();
           });

        //$('#thriceCalled').click(function () {
        //    ClearCallFilter();
        //    ApplyFilter('3', 8);
        //});

        function ChangeSelection(control) {
            $('.btn-info').addClass('btn-default').removeClass('btn-info');
            control.addClass('btn-info').removeClass('btn-default');
        }
        function applyExactFilter(value, column) {
            $('#dashboard').dataTable().fnFilter("^\\s*" + value + "\\s*$", column, true);
            $('#dashboard').dataTable().fnDraw();
        };

        function ApplyFilter(value, column) {
            $('#dashboard').dataTable().fnFilter(value, column);
            $('#dashboard').dataTable().fnDraw();
        }
        function ApplyRegExFilter(value, i) {
            $('#dashboard').DataTable().column(i).search(value, true, true).draw();
            //$('#dashboard').dataTable().fnDraw();
        }

        function ClearCallFilter() {
            $('#dashboard').dataTable().fnResetAllFilters();
        }
        var selector = '.filtermenu';

        $(selector).on('click', function () {
            $(".filtermenu").each(function () {
                $(this).parent().find('h3').removeClass('active');
                $(this).parent().find('h5 span').removeClass('active');
            });
            $(this).parent().find('h3').addClass('active');
            $(this).parent().find('h5 span').addClass('active');
        });
    </script>
}


