﻿
@using SunshareCommon
@model  SunshareHubOne.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_masterView.cshtml";
}
@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.SalesRepId)
@Html.HiddenFor(model => model.IsAdmin)
<div class="hpanel">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dashboard" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                           @Html.DisplayName("Last Modified Date & Time")
                        </th>
                        <th>
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("Last Name")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("Phone")
                        </th>
                        <th>
                            @Html.DisplayName("Assigned")
                        </th>
                        <th>
                            @Html.DisplayName("Reason")
                        </th>
                        <th>
                            @Html.DisplayName("Request Status")
                        </th>
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Leads)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RepName)
                            </td>
                            <td>
                                @if (item.DuplicateReason.Length > 10)
                                {
                                    @Html.DisplayFor(modelItem => item.DuplicateReason)
                                    @*<span title="@Html.DisplayFor(modelItem => item.reasontip)" data-toggle="tooltip">@Html.DisplayFor(modelItem => item.DuplicateReason)</span>*@
                                    <i class="fa fa-plus-square-o" style="color:firebrick" aria-hidden="true" title="@Html.DisplayFor(modelItem => item.reasontip)" data-toggle="tooltip"></i>
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.DuplicateReason)
                                }
                            </td>
                            <td align="center">
                                @if (!item.IsDuplicateRequestDecided)
                                {
                                    <a href="#" id="approve" onclick="Approve(true, @Model.SalesRepId, @item.DuplicateRequestId)">
                                        <i class="fa fa-thumbs-up"></i>

                                    </a>
                                    <a href="#" id="reject" onclick="Approve(false, @Model.SalesRepId, @item.DuplicateRequestId)">
                                        <i class="fa fa-thumbs-down"></i>
                                    </a>
                                }
                                else
                                {
                                    if (item.IsDuplicateContractApproved)
                                    {
                                        if (item.LeadStausId == LeadContractStatus.ContractDeclined || item.LeadStausId == LeadContractStatus.ContractSigned || !item.AllowDuplicateContract)
                                        {
                                            <i class="fa fa-user"></i>
                                
                                        }
                                        else
                                        {
                                            <i class="fa fa-user"></i>
                                           
                                        }
                                    }
                                    else
                                    {
                                        <i class="fa fa-user-times"></i>
                                    }
                                }
                            </td>
                            <td align="center">
          
                                    <a href="@Url.Action("Edit", "Lead", new { @salesRepId = Model.SalesRepId, @leadId = item.LeadId, @isAdmin = true })" class="m-l-10"><span class="fa fa-edit"> </span></a>
                                  
                               
                              

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section MyScripts {
    <script>
        $(document).ready(function () {
            $('#hideshearch').empty();
            $('#sidebar').addClass('displayoff').removeClass('displayon');
            var table = $('#dashboard').dataTable();
        });
        function Approve(isApproved, repId, requestId) {
            $.ajax({
                url: '@Url.Action("ManagerRespondRequest", "Dashboard")',
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                data: { duplicateId: requestId, isApproved: isApproved, salesRepId: repId, isAdmin: true },
                success: function (data) {
                    $('#placeHolder').html(data);
                    if (isApproved) {
                        swal("Success", "Request accepted successfully", "success");
                    }
                    else {
                        swal("Info", "Request rejected successfully", "info");
                    }
                },
                error: function (data) {
                    if (isApproved) {
                        swal("Success", "Request accepted successfully", "success");
                    }
                    else {
                        swal("Info", "Request rejected successfully", "info");
                    }
                }
            });
        }
    </script>
}


