font-family: 'Roboto', sans-serif;font-size: 14px; color:#7c7c7c;}
* {margin: 0;padding: 0;}

/* main_content_div */
.main_content_div {margin: 15% auto 0;width: 410px;}
.login-formNew {background: #f5f5f5 url(Content/custom/images/login-bg.png) no-repeat center 0;width: 410px;border-top:25px solid #7c7c7c; overflow:hidden;}
.login-formNew .logo {padding: 12px 0;margin-bottom: 110px;}
.login-formNew h1{background: #f5f5f5 url(../custom/images/signin-bg.png) no-repeat 4% 0;padding: 0 0 0 75px; line-height:47px; color:#f86505; font-size:30px;}
.loginform-labels {background: #fff;float: left;margin-top: 20px;padding: 10px;width: 100%;}
.loginform-labels .form-control {border-color: -moz-use-text-color -moz-use-text-color #ccc;border-radius: 0;border-style: none none solid;border-width: medium 0 1px;box-shadow: none;}
.loginform-labels .user-name, .loginform-labels .pass-word {background:url(../custom/images/user-icon.png) no-repeat 2% 0;padding: 0 0 0 40px;}
.loginform-labels .pass-word {background:url(../custom/images/password-icon.png) no-repeat 2% 0;}
.login-formNew .btn-warning {background-color: #f86505;border-color: #f86505;border-radius: 0;color: #fff;font-size: 20px;padding: 6px 60px;margin:15px 0;}
.login-formNew .btn-warning:hover {background-color: #ff6e2a;border-color: #ff6e2a;}
.login-formNew .checkbox {margin-top: 0px; margin-right:10px;}
.login-formNew a {color: #7c7c7c;}
.login-formNew .pull-left > a {padding-left: 10px;}
.login-formNew .pull-right > a {padding-right: 10px;margin-left:50px;}

.login-formNew a:hover {color: #f86505; text-decoration:none;}
.login-formNew .checkbox label {display: inline-block;padding-left: 5px;position: relative;}
.login-formNew .checkbox label::before {background-color: #fff;border: 1px solid #cccccc;border-radius: 3px;content: "";display: inline-block;height: 17px;left: 0;margin-left: -20px;position: absolute;
transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;width: 17px;}
.login-formNew .checkbox label::after {color: #555555;display: inline-block;font-size: 11px;height: 16px;left: 0;margin-left: -20px;padding-left: 3px;padding-top: 1px;position: absolute;top: 0;width: 16px;}
.login-formNew .checkbox input[type="checkbox"] {opacity: 0;}
.login-formNew .checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline-offset: -2px;}
.login-formNew .checkbox input[type="checkbox"]:checked + label::after {content: "\f00c";font-family: "FontAwesome";}
.login-formNew .checkbox input[type="checkbox"]:disabled + label {opacity: 0.65;}
.login-formNew .checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed;}
.login-formNew .checkbox.checkbox-circle label::before {border-radius: 50%;}
.login-formNew .checkbox.checkbox-inline {margin-top: 0;}
.login-formNew .checkbox-warning input[type="checkbox"]:checked + label::before {background-color: #f86505;border-color: #f86505;}
.login-formNew .checkbox-warning input[type="checkbox"]:checked + label::after {color: #fff;}

.footer { margin-top:10px; font-size:15px;}

.login-formNewf {background: #fff url(../custom/images/login-bg.png) no-repeat center 0;width: 410px;border-top:25px solid #7c7c7c; border-bottom:10px solid  #f5f5f5; overflow:hidden;}
.login-formNewf .logo {padding: 12px 0;margin-bottom: 110px;}
.login-formNewf h1{background: #fff url(../custom/images/signin-bg.png) no-repeat 4% 0;padding: 0 0 0 75px; line-height:47px; color:#f86505; font-size:30px;}
.login-formNewf .btn-warning {background-color: #f86505;border-color: #f86505;border-radius: 0;color: #fff;font-size: 20px;padding: 6px 60px;margin:15px 0;}
.login-formNewf .btn-warning:hover {background-color: #ff6e2a;border-color: #ff6e2a;}
.login-formNewf .checkbox {margin-top: 30px;}
.login-formNewf a {color: #7c7c7c;margin-left:37%; padding-bottom:40px;}
.login-formNewf .pull-left > a {padding-left: 10px;}
.login-formNewf .pull-right > a {padding-right: 10px;}
.login-formNewf a:hover {color: #f86505; text-decoration:none;}
.login-formNewf .checkbox label {display: inline-block;padding-left: 5px;position: relative;}
.login-formNewf .checkbox label::before {background-color: #fff;border: 1px solid #cccccc;border-radius: 3px;content: "";display: inline-block;height: 17px;left: 0;margin-left: -20px;position: absolute; transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;width: 17px;}
.login-formNewf .checkbox label::after {color: #555555;display: inline-block;font-size: 11px;height: 16px;left: 0;margin-left: -20px;padding-left: 3px;padding-top: 1px;position: absolute;top: 0;width: 16px;}
.login-formNewf .checkbox input[type="checkbox"] {opacity: 0;}
.login-formNewf .checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline-offset: -2px;}
.login-formNewf .checkbox input[type="checkbox"]:checked + label::after {content: "\f00c";font-family: "FontAwesome";}
.login-formNewf .checkbox input[type="checkbox"]:disabled + label {opacity: 0.65;}
.login-formNewf .checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed;}
.login-formNewf .checkbox.checkbox-circle label::before {border-radius: 50%;}
.login-formNewf .checkbox.checkbox-inline {margin-top: 0;}
.login-formNewf .checkbox-warning input[type="checkbox"]:checked + label::before {background-color: #f86505;border-color: #f86505;}
.login-formNewf .checkbox-warning input[type="checkbox"]:checked + label::after {color: #fff;}
.login-formNewf p {padding:7px; margin-left:15%;}

.login-formNews {background: #f5f5f5 url(../custom/images/login-bg.png) no-repeat center 0;width: 410px;border-top:25px solid #7c7c7c; overflow:hidden;}
.login-formNews .logo {padding: 12px 0;margin-bottom: 110px;}
.login-formNews h1{background: #f5f5f5 url(../custom/images/signin-bg.png) no-repeat 4% 0;padding: 0 0 0 75px; line-height:47px; color:#f86505; font-size:30px;}
.login-formNews .btn {margin-bottom:10px;}
.login-formNews .btn-warning {background-color: #f86505;border-color: #f86505;border-radius: 0;color: #fff;font-size: 20px;padding: 6px 60px;margin:15px 0;}
.login-formNews.btn-warning:hover {background-color: #ff6e2a;border-color: #ff6e2a;}
.login-formNews .checkbox {margin-top: 30px;}
.login-formNews a {color: #7c7c7c;}
.login-formNews .pull-left > a {padding-left: 10px;}
.login-formNews .pull-right > a {padding-right: 10px;}
.login-formNews a:hover {color: #f86505; text-decoration:none;}
.login-formNews .checkbox label {display: inline-block;padding-left: 5px;position: relative;}
.login-formNews .checkbox label::before {background-color: #fff;border: 1px solid #cccccc;border-radius: 3px;content: "";display: inline-block;height: 17px;left: 0;margin-left: -20px;position: absolute; transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;width: 17px;}
.login-formNews .checkbox label::after {color: #555555;display: inline-block;font-size: 11px;height: 16px;left: 0;margin-left: -20px;padding-left: 3px;padding-top: 1px;position: absolute;top: 0;width: 16px;}
.login-formNews .checkbox input[type="checkbox"] {opacity: 0;}
.login-formNews .checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline-offset: -2px;}
.login-formNews .checkbox input[type="checkbox"]:checked + label::after {content: "\f00c";font-family: "FontAwesome";}
.login-formNews .checkbox input[type="checkbox"]:disabled + label {opacity: 0.65;}
.login-formNews .checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed;}
.login-formNews .checkbox.checkbox-circle label::before {border-radius: 50%;}
.login-formNews .checkbox.checkbox-inline {margin-top: 0;}
.login-formNews .checkbox-warning input[type="checkbox"]:checked + label::before {background-color: #f86505;border-color: #f86505;}
.login-formNews .checkbox-warning input[type="checkbox"]:checked + label::after {color: #fff;}
.login-formNews p {padding:7px;}

/* Media Quiries */
@media (max-width : 1366px){
.main_content_div {margin: 3% auto 0; width:380px;}
.login-formNew {width:380px;}
.login-formNew .logo {margin-bottom: 100px;}
.login-formNew h1 {margin:10px 0;}
.login-formNew .btn-warning {margin:10px 0;}
}
@media (width : 1024px){
.main_content_div {margin: 10% auto 0;}
}

@media only screen and (min-width : 320px) and (max-width : 480px){
.main_content_div {width: 310px;}
.login-formNew {width: 290px;}
.logo img { width:270px; height:auto;}
.loginform-labels a {font-size:12px;}
.login-formNew h1 {font-size:25px;}
.loginfooter {font-size: 12px;}
}

@media (width : 360px){
.login-formNew {width: 320px;}
}



/* Media Quiries */
@media (max-width : 1366px){
/*.login-formNewf {width:380px;}*/
.login-formNewf .logo {margin-bottom: 100px;}
.login-formNewf h1 {margin:5px 0;font-size:20px;}
.login-formNewf .btn-warning {margin:10px 0;}
}

@media (width : 360px){
.login-formNewf {width: 320px;}
}

/* Media Quiries */
@media (max-width : 1366px){
/*.login-formNewf {width:380px;}*/
.login-formNews .logo {margin-bottom: 100px;}
.login-formNews h1 {margin:5px 0;font-size:20px;}
.login-formNews .btn-warning {margin:10px 0;}
}

@media (width : 360px){
.login-formNews {width: 320px;}
}