﻿@import "normalize.css";
@import "font-awesome.css";
@import "font-awesome-7.min.html";
@import "animate.css";
body {
    background-attachment: fixed;
    background-color: transparent;
    background-image: url("../styles/img/tr_pt_4.png"), url("../styles/img/5.jpg");
    background-position: center center;
    background-repeat: repeat, no-repeat;
    background-size: auto auto, cover;
    font-family: "Montserrat",sans-serif;
    overflow-y: hidden;
}
#content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat",sans-serif;
}
.cm-container {
    margin: 0 auto;
    width: 960px;
}
.cm-large-circle {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: bounceIn;
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    border: 8px solid rgb(246, 139, 33);
    border-radius: 500px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);
    height: 280px;
    margin: 180px auto;
    position: relative;
    width: 280px;
}
.cm-large-circle::before {
    border: 1px dashed orange;
    border-radius: 500px;
    content: "";
    height: 270px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 270px;
}

ul.cm-small-circle {
    list-style: outside none none;
}
ul.cm-small-circle li {
    animation-delay: 1.1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    border: 3px solid rgb(246, 139, 33);
    border-radius: 500px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.6);
    height: 120px;
    position: absolute;
    transition: all 500ms ease 0s;
    width: 120px;
}
ul.cm-small-circle li.not-active {
    animation-delay: 1.1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    border: 3px solid rgb(16, 16, 16);
    border-radius: 500px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.6);
    height: 120px;
    position: absolute;
    transition: all 500ms ease 0s;
    width: 120px;
   pointer-events: none;
   cursor: default;
}
ul.cm-small-circle div.logo {
    border-radius: 500px;
    color: #fff;
    font-size: 34px;
    left: 0;
    padding: 85px 22px 32px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 500ms ease 0s;
    z-index: 599;
}
ul.cm-small-circle li:hover ~ div.logo {
    opacity: 0;
}
ul.cm-small-circle li:hover {
    background: #f68b21 none repeat scroll 0 0;
    border: 3px solid #f68b21;
}
ul.cm-small-circle li a {
    color: #f68b21;
    font-size: 55px;
    line-height: 120px;
    padding: 0 31px;
    text-decoration: none;
}
ul.cm-small-circle li:hover a {
    color: rgb(255, 255, 255);
}
ul.cm-small-circle li .cm-description {
    border-radius: 500px;
    box-sizing: border-box;
    height: 270px;
    opacity: 0;
    padding: 44px 0;
    position: relative;
    text-align: center;
    transition: all 500ms ease-in 0s;
    width: 270px;
}
ul.cm-small-circle .cm-description h2 {
    color: #f68b21;
    font-size: 35px;
    margin: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
ul.cm-small-circle .cm-description p {
    color: rgb(220, 220, 220);
    font-size: 16px;
    padding: 0 50px;
}
ul.cm-small-circle li:nth-child(1) {
    animation-name: bounceInDown;
    left: -161px;
    top: -5px;
}
ul.cm-small-circle li:nth-child(1) .cm-description {
    left: 163px;
    top: -110px;
}
ul.cm-small-circle li:nth-child(1):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(2) {
    animation-name: bounceInDown;
    left: 76px;
    top: -162px;
}
ul.cm-small-circle li:nth-child(2) .cm-description {
    left: -75px;
    top: 56px;
}
ul.cm-small-circle li:nth-child(2):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(3) {
    animation-name: bounceInDown;
    left: 320px;
    top: 5px;
}
ul.cm-small-circle li:nth-child(3) .cm-description {
    left: -315px;
    top: -115px;
}
ul.cm-small-circle li:nth-child(3):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(4) {
    animation-name: bounceInDown;
    left: 291px;
    top: 228px;
}
ul.cm-small-circle li:nth-child(4) .cm-description {
    left: -290px;
    top: -335px;
}
ul.cm-small-circle li:nth-child(4):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(5) {
    animation-name: bounceInDown;
    left: 83px;
    top: 315px;
}
ul.cm-small-circle li:nth-child(5) .cm-description {
    left: -82px;
    top: -432px;
}
ul.cm-small-circle li:nth-child(5):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(6) {
    animation-name: bounceInDown;
    left: -138px;
    top: 220px;
}
ul.cm-small-circle li:nth-child(6) .cm-description {
    left: 140px;
    top: -330px;
}
ul.cm-small-circle li:nth-child(6):hover .cm-description {
    opacity: 1;
}
@media (min-width: 1800px) {
.cm-large-circle {
    margin: 350px auto;
}
}
@media (min-width: 768px) and (max-width: 979px) {
.cm-container {
    width: 768px;
}
}
@media (max-width: 767px) {
.cm-container {
    width: 600px;
}
}
@media (max-width: 568px) {
.cm-container {
    width: 362px;
}
.cm-large-circle {
    border: 4px solid rgb(255, 255, 255);
    height: 200px;
    margin: 55px auto;
    width: 200px;
}
.cm-large-circle::before {
    border: 1px dashed white;
    height: 190px;
    left: 4px;
    top: 4px;
    width: 190px;
}
ul.cm-small-circle {
    list-style: outside none none;
}
ul.cm-small-circle li {
    border: 2px solid rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}
ul.cm-small-circle div.logo {
    font-size: 18px;
    padding: 33px 18px 19px 26px;
}
ul.cm-small-circle li:hover {
    border: 2px solid rgba(0, 0, 0, 0.6);
}
ul.cm-small-circle li a {
    font-size: 15px;
    line-height: 30px;
    padding: 0 6px;
}
ul.cm-small-circle li:hover a {
    color: rgb(80, 80, 80);
}
ul.cm-small-circle li .cm-description {
    height: 190px;
    padding: 15px 9px;
    width: 190px;
}
ul.cm-small-circle .cm-description h2 {
    font-size: 29px;
}
ul.cm-small-circle .cm-description p {
    font-size: 11px;
    padding: 0 10px;
}
ul.cm-small-circle li:nth-child(1) {
    left: -39px;
    top: 22px;
}
ul.cm-small-circle li:nth-child(1) .cm-description {
    left: 43px;
    top: -50px;
}
ul.cm-small-circle li:nth-child(1):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(2) {
    left: 85px;
    top: -51px;
}
ul.cm-small-circle li:nth-child(2) .cm-description {
    left: -81px;
    top: 23px;
}
ul.cm-small-circle li:nth-child(2):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(3) {
    left: 203px;
    top: 23px;
}
ul.cm-small-circle li:nth-child(3) .cm-description {
    left: -199px;
    top: -51px;
}
ul.cm-small-circle li:nth-child(3):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(4) {
    left: 194px;
    top: 158px;
}
ul.cm-small-circle li:nth-child(4) .cm-description {
    left: -190px;
    top: -186px;
}
ul.cm-small-circle li:nth-child(4):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(5) {
    left: 86px;
    top: 217px;
}
ul.cm-small-circle li:nth-child(5) .cm-description {
    left: -82px;
    top: -245px;
}
ul.cm-small-circle li:nth-child(5):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(6) {
    left: -28px;
    top: 158px;
}
ul.cm-small-circle li:nth-child(6) .cm-description {
    left: 32px;
    top: -186px;
}
ul.cm-small-circle li:nth-child(6):hover .cm-description {
    opacity: 1;
}
}
@media (max-width: 480px) {
.cm-container {
    width: 480px;
}
}
@media (max-width: 320px) {
.cm-container {
    width: 320px;
}
.cm-large-circle {
    border: 4px solid rgb(255, 255, 255);
    height: 200px;
    margin: 150px auto;
    width: 200px;
}
.cm-large-circle::before {
    border: 1px dashed white;
    height: 190px;
    left: 4px;
    top: 4px;
    width: 190px;
}
ul.cm-small-circle {
    list-style: outside none none;
}
ul.cm-small-circle li {
    border: 2px solid rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}
ul.cm-small-circle div.logo {
    font-size: 18px;
    padding: 33px 18px 19px 26px;
}
ul.cm-small-circle li:hover {
    border: 2px solid rgba(0, 0, 0, 0.6);
}
ul.cm-small-circle li a {
    font-size: 15px;
    line-height: 30px;
    padding: 0 6px;
}
ul.cm-small-circle li:hover a {
    color: rgb(80, 80, 80);
}
ul.cm-small-circle li .cm-description {
    height: 190px;
    padding: 15px 9px;
    width: 190px;
}
ul.cm-small-circle .cm-description h2 {
    font-size: 29px;
}
ul.cm-small-circle .cm-description p {
    font-size: 11px;
    padding: 0 10px;
}
ul.cm-small-circle li:nth-child(1) {
    left: -39px;
    top: 22px;
}
ul.cm-small-circle li:nth-child(1) .cm-description {
    left: 43px;
    top: -50px;
}
ul.cm-small-circle li:nth-child(1):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(2) {
    left: 85px;
    top: -51px;
}
ul.cm-small-circle li:nth-child(2) .cm-description {
    left: -81px;
    top: 23px;
}
ul.cm-small-circle li:nth-child(2):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(3) {
    left: 203px;
    top: 23px;
}
ul.cm-small-circle li:nth-child(3) .cm-description {
    left: -199px;
    top: -51px;
}
ul.cm-small-circle li:nth-child(3):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(4) {
    left: 194px;
    top: 158px;
}
ul.cm-small-circle li:nth-child(4) .cm-description {
    left: -190px;
    top: -186px;
}
ul.cm-small-circle li:nth-child(4):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(5) {
    left: 86px;
    top: 217px;
}
ul.cm-small-circle li:nth-child(5) .cm-description {
    left: -82px;
    top: -245px;
}
ul.cm-small-circle li:nth-child(5):hover .cm-description {
    opacity: 1;
}
ul.cm-small-circle li:nth-child(6) {
    left: -28px;
    top: 158px;
}
ul.cm-small-circle li:nth-child(6) .cm-description {
    left: 32px;
    top: -186px;
}
ul.cm-small-circle li:nth-child(6):hover .cm-description {
    opacity: 1;
}

}