﻿DIV.toast-host
{
	display: none;
	padding-bottom: 10px;
}

/* This fixes first row top margin on subgrids where toast host is the first element
	- Without this, if the toast-host was hidden, the row would still have a 
	  top margin, and not be in alignment with the parent grid */
DIV.span1>DIV.toast-host+.row, 
DIV.span2>DIV.toast-host+.row, 
DIV.span3>DIV.toast-host+.row, 
DIV.span4>DIV.toast-host+.row, 
DIV.span5>DIV.toast-host+.row,
DIV.span6>DIV.toast-host+.row, 
DIV.span7>DIV.toast-host+.row, 
DIV.span8>DIV.toast-host+.row, 
DIV.span9>DIV.toast-host+.row, 
DIV.span10>DIV.toast-host+.row
{
	margin-top: 0px;
}

DIV.toast-host DIV.toast
{
	padding: 5px 10px;
	border-radius: 5px;
}

DIV.toast + DIV.toast
{
	margin-top: 5px;
}

DIV.toast.confirm
{
	background-color: #ccccee;
	color: #666699;
}

DIV.toast.success
{
	background-color: #cceecc;
	color: #339933;
}

DIV.toast.warning
{
	background-color: #eeee99;
	color: #999933;
}

DIV.toast.error
{
	background-color: #eecccc;
	color: #993333;
}

DIV.toast.message
{
	background-color: #ccccee;
	color: #666699;
}

DIV.toast DIV.close
{
	float: right;
	cursor: pointer;
}

DIV.toast.confirm DIV.buttons:before,
DIV.toast.confirm DIV.buttons:after
{
	display: table;
	content: "";
}

DIV.toast.confirm DIV.buttons:after
{
	clear: both;
}

DIV.toast.confirm DIV.button
{
	float:right;
	border: 2px solid white;
	background-color: #666699;
	color: white;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 5px;
}

DIV.toast.confirm DIV.button:hover
{
	background-color: white;
	color: #666699;
}