﻿@using SunshareCommon
@model  SunshareHub.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}
<ul id="float-menu" class="mfb-component--br mfb-zoomin">
    <li class="mfb-component__wrap">

        <a href="add-lead.html" class="mfb-component__main-icon--resting ion-plus-round">
            <i class="mfb-component__main-icon--resting ion-plus-round"></i>
            @*@Html.ActionLink("Lead", "Index", "Lead")*@
        </a>
        @*@Html.ActionLink("Lead", "Upload", "Dashboard")*@
    </li>
</ul>
<div class="row">
    <div class="col-md-12">
        <div class="hpanel horange">
            <div class="panel-heading hbuilt"> Filter By </div>
            <div class="panel-body text-center">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 animated-panel zoomIn" style="animation-delay: 0.2s;">
                        <button class="btn btn-default btn-rounded btn-outline btn-block " type="button"><i class="fa fa-fw fa-phone"></i>Once Called</button>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 animated-panel zoomIn" style="animation-delay: 0.2s;">
                        <button class="btn btn-info btn-rounded btn-outline  btn-block" type="button"><i class="fa fa-fw fa-phone"></i>Twice Called</button>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 animated-panel zoomIn" style="animation-delay: 0.3s;">
                        <button class="btn btn-default btn-rounded btn-outline  btn-block " type="button"><i class="fa fa-fw fa-phone"></i>Thrice Called</button>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 animated-panel zoomIn" style="animation-delay: 0.4s;">
                        <button class="btn btn-default btn-rounded btn-block " type="button"><i class="fa fa-fw fa-file-o"></i>Yet to Sign</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hpanel">
    <div class="panel-body">
        <table id="dashboard" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>

                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Phone")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th>
                        @Html.DisplayName("Date & Time")
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Leads)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @switch (item.LeadStausId)
                            {
                                case LeadContractStatus.ContractSent:
                                    @Html.Label("Sent", new { @class = "label label-warning" });
                                    break;
                                case LeadContractStatus.ContractDeclined:
                                    @Html.Label("Declined", new { @class = "label label-danger" });
                                    break;
                                case LeadContractStatus.ContractSigned:
                                    @Html.Label("Completed", new { @class = "label label-success" });
                                    break;
                                default:
                                    @Html.Label("Not Sent", new { @class = "label label-danger" });
                                    break;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>


                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryCustom")
<script>
    //alert("hello");
    $(document).ready(function () {
        $('#dashboard').dataTable();
    });

</script>

