﻿@model SunshareHubOne.Models.LeadViewModel

<div class="panel panel-default">
    <div id="headingTwo" role="tab" class="panel-heading">
        <h4 class="panel-title"> <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Call Log </a> </h4>
    </div>
    <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-responsive compact">
                    <thead>
                        <tr>
                            <th>Date & Time</th>
                            <th>Action</th>
                            <th>Bound</th>
                            <th>Comments</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.CallHistories != null)
                        {
                            if (Model.CallHistories.Count() != 0)
                            {
                                foreach (var item in Model.CallHistories)
                                {
                                    <tr>
                                        <td>@item.Date</td>
                                        <td>@item.Title</td>
                                        <td>@item.Boundstatus</td>
                                        <td>
                                            <span class="font-bold">
                                                @item.Comments <br />
                                                @if (!string.IsNullOrEmpty(@item.ProcessDate))
                                                {
                                                    <span style="color:white; background:black"><small><strong>@item.ProcessDate</strong></small></span>
                                                }
                                            </span>
                                        </td>
                                        <td>@item.DoneBy</td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <p>No call log information to display</p>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>