﻿@model SunshareHubOne.Models.ForgotPasswordViewModel
@{ 
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_masterAnonymousView.cshtml";
}
<style>
    body {
        background-attachment: fixed;
        background-image: url('./../Content/custom/images/body-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #4c4c4c;
    }
</style>

<div class="login-formNews">
    <div class="hpanel">
        <div class="panel-body text-center">
            <div class="m-b-md">
                <div class="text-center"> <img src="~/Content/custom/images/logo.png" class="text-center" alt="" /></div>
            </div>
            <br />
            <h4>Forgot Password?</h4>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <p>@Html.LabelFor(m => m.Email, new { @class = "control-label" })</p>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success block full-width" value="Submit">Submit</button>
               
                 <div class="clearfix"></div>
                @*<div class="pull-left"><a href=@Html.ActionLink("Back To Login", "Login", "Account")></a></div>*@
                <div>
                    <a href=@Url.Action("Login", "Account")>Back to login</a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}