﻿
@model SunshareHubOne.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_masterAnonymousView.cshtml";
}

<style>
    body {
        background-attachment: fixed;
        background-image: url('./../Content/custom/images/body-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #4c4c4c;
    }
</style>

<div class="login-formNews">
    <div class="hpanel">
        <div class="panel-body text-center">
            <div class="m-b-md">
                <div class="text-center"> <img src="~/Content/custom/images/logo.png" class="text-center" alt="" /></div>
            </div>
            @*<h2>@ViewBag.Title.</h2>*@
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Reset your password.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                @Html.HiddenFor(model => model.username)
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-success block full-width" value="Reset" />
                    </div>
                </div>

                <div>
                    <a href=@Url.Action("Login", "Account")>Back to login</a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
