﻿@{
    Layout = null;
}
<!DOCTYPE html>

    <html>

    <head>
        <meta charset="utf-8"/>
        <title>SunHub Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" media="screen" href="~/Content/custom/styles/Style7.css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/x-icon" href="http://cc4.767.myftpupload.com/wp-content/uploads/2015/03/sunshare-favicon-sun1.ico"/>
    </head>
    <body>
        <a href='@Url.Action("LogOff", "Account")' title="Logout" data-toggle="tooltip" class="btn" style="position: fixed; right: 16px; top: 16px; padding: 8px 16px; background: orange; border: none;" data-placement="bottom">
           <span>SIGN OUT</span>
        </a>
   @*<button class="btn " style="position: fixed; right: 16px; top: 16px; padding: 8px 16px; background: orange; border: none;" onclick="@Url.Action("LogOff", "Account")">LogOut</button>*@
    <!-- Menu Starts - cm is abbreviation of circle menu -->
    <div id="content">
        <div class="cm-container">
            <div class="cm-large-circle">
                <ul class="cm-small-circle">
                    <li class="active">
                        <a href="http://www.sunhubsolar.com/myaccount" target="_blank"><i class="flaticon-business-affiliate-network"></i></a>
                        <div class="cm-description">
                            <img src="~/Content/custom/styles/img/sunhublogo.png" width="227" height="85" alt=""/>
                            <h2>Engagement</h2>
                        </div>
                    </li>
                    <li class="active">
                        <a target="_blank" href="http://www.sunhubsolar.com/marketing.html"><i class="flaticon-seo-performance-marketing-graphic"></i></a>
                        <div class="cm-description">
                            <img src="~/Content/custom/styles/img/sunhublogo.png" width="227" height="85" alt=""/>
                            <h2>Marketing</h2>
                        </div>
                    </li>
                        <li>
                            <a href="~/Account/Acquistion" target="_blank">
                                <i class="flaticon-handshake"></i>
                            </a>
                            <div class="cm-description">
                                <img src="~/Content/custom/styles/img/sunhublogo.png" width="227" height="85" alt=""/>
                                <h2>Acquisition</h2>
                            </div>
                        </li>
                    <li class="active">
                        <a href="http://Fulfillment.MySunshare.com" target="_blank">
                            <i class="flaticon-verification-of-delivery-list-clipboard-symbol"></i>
                        </a>
                        <div class="cm-description">
                            <img src="~/Content/custom/styles/img/sunhublogo.png" width="227" height="85" alt=""/>
                            <h2>Fulfillment</h2>
                        </div>
                    </li>
                    <li class="active">
                        <a href="http://Production.MySunshare.com" target="_blank"><i class="flaticon-solar-energy"></i></a>
                        <div class="arrow"></div>
                        <div class="cm-description">
                            <img src="~/Content/custom/styles/img/sunhublogo.png" width="227" height="85" alt=""/>
                            <h2>Production</h2>
                        </div>
                    </li>
                        <li>
                            <a href="http://Billing.MySunshare.com/" target="_blank">
                                <i class="flaticon-invoice"></i>
                            </a>
                            <div class="cm-description">
                                <img src="~/Content/custom/styles/img/sunhublogo.png" width="227" height="85" alt=""/>
                                <h2>Billing</h2>
                            </div>
                        </li>
                    <div class="logo"><img src="~/Content/custom/styles/img/sunhublogo.png" width="227" height="85" alt=""/>
                    </div>
                </ul>
            </div>
        </div> <!-- /cm-container -->
        <!-- End of Menu -->
    </div>




    </body>

    </html>
